* {
  font-family: Arial;
}

.container {
  color: #3C3D40;
  box-sizing: border-box;
  background: #FFFFFF;
  height: 25rem;
  width: 20rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.container-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  background: #FFFFFF;
  border: 1px solid #B4B7BF;
  border-radius: 3px;
  height: 20px;
  font-family: Arial;
  color: #3C3D40;
  outline: none;
  height: 20px;
  outline: none;
}

.container-button {
  display: flex;
  justify-content: space-between;
}

.button {
  box-sizing: border-box;
  color: #FFF;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  background: #D8DCE6;
}

.button-google {
  width: 100%;
  display: inline-block;
  background: white;
  color: #444;
  border: thin solid #888;
  white-space: nowrap;

}

.text {
  width: 30px;
  margin: -32px auto 10px;
  background: #FFFFFF;
}

.button:active {
  box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
  top: 2px;
}

.button:hover {
  background-color: #B4B7BF;
  cursor: pointer;
  color: #3C3D40;
}

hr {
  margin-top: 20px;
  width: 80%;
}

.firebaseui-error {
  color: red;
  height: 30px;
}


