<div class="container">
  <div class="button button-google"
       (click)="singInWithGoogle()">
    log in with Google</div>
  <hr>
  <span class="text">OR</span>
  <form class="form" [formGroup]="form">
    <div class="form_inner">
      <small>Login</small>
      <input [formControlName]="'email'"
             [class.is-invalid]="ifControlInvalid('email')" class="input" type="email">
    </div>
    <div class="form_inner">
      <small>Password</small>
      <input [formControlName]="'password'"
             [class.is-invalid]="ifControlInvalid('password')" class="input" type="password">
    </div>
    <div class="container-button">
      <div class="button" (click)="login()">Log in</div>
      <div class="button" (click)="singUp()">Sing up</div>
    </div>
  </form>
  <div class="error-message">
    <span *ngIf="hasError">{{errorMessage}}</span>
    <span *ngIf="ifControlInvalid('email')">{{getErrorMessage('email')}}</span><br>
    <span *ngIf="ifControlInvalid('password')">{{getErrorMessage('password')}}</span>
  </div>
</div>
