* {
  font-family: Arial;
}

.container {
  color: #3C3D40;
  box-sizing: border-box;
  background: #FFFFFF;
  height: 27rem;
  width: 20rem;
  border: 2px solid #787A80;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.form {
  display: contents;

}

.container-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  background: #FFFFFF;
  border: 1px solid #B4B7BF;
  border-radius: 3px;
  height: 20px;
  color: #3C3D40;
  outline: none;
}

.container-button {
  display: flex;
  justify-content: space-between;
}

.form_inner {
  display: contents;
}

.button {
  box-sizing: border-box;
  color: #787A80;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: 1px solid #787A80;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  background: #FFFFFF;
  font-weight: bold;
}

.button-google {
  width: 100%;
  display: inline-block;
  background: white;
  color: #787A80;
  border: 1px solid #787A80;
  font-weight: bold;
  white-space: nowrap;
}

.text {
  font-weight: bold;
  width: 30px;
  margin: -26px auto 10px;
  background: #FFFFFF;
  color: #787A80;
}

.button:active {
  box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
  top: 2px;
}

.button:hover {
  background-color: #787A80;
  cursor: pointer;
  color: #FFFFFF;
}

hr {
  margin-top: 20px;
  width: 80%;
  background: #B4B7BF;
}

.error-message {
  color: red;
  font-size: small;
  height: 30px;
}

small {
  color: #B4B7BF;
  font-weight: bold;
}

.is-invalid {
  border: 1px solid red;
}


