<div class="container">
  <button class="button google"
    (click)="singInWithGoogle()">
    Log in with Google</button>
  <span class="text">or log in with email</span>
  <input class="input" type="email" placeholder="email" [(ngModel)]="email">
  <input class="input" type="password" placeholder="password" [(ngModel)]="password">
  <div class="container-button">
    <button class="button" (click)="login()">Log in</button>
    <button class="button" (click)="signUp()">Sing up</button>
  </div>
</div>

<app-timer></app-timer>
