.navbar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 200px;
  height: 100%;
  background: #FFFFFF;
  border-right: 1px solid #787A80;
}

.navbar__link {
  font-family: Arial;
  display: flex;
  align-items: center;
  color: #3C3D40;
  padding: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.85rem;
  background: #FFFFFF;
  border-bottom: 1px solid #EEF3FE;
}

.material-icons {
  margin-right: 19px;
}

.navbar__link:hover {
  background: #B4B7BF;
  color: #FFFFFF;
}

.navbar__link:first-child {
  margin-top: 50px;
}

.calendar_nav {
  /*box-sizing: border-box;*/
  align-self: flex-start;
  width: 100px;
}

.active {
  background: #B4B7BF;
  color: #FFFFFF;
}
