<div class="container">
  <div class="container__timer">
    <span>time:</span>
    <div class="tick_tack">00:10</div>
  </div>
  <div>
    <small>Task</small>
    <input type="text" class="task_name" >
  </div>

    <textarea class="notes" name="" id="" cols="30" rows="10" placeholder="Notes (optional)"></textarea>
  <button>
<!--    <span class="material-icons">-->
<!--    play_arrow-->
<!--    </span>-->
    start
  </button>
  <button>
<!--    <span class="material-icons">-->
<!--    pause-->
<!--    </span>-->
    pause
   </button>
  <button>
<!--    <span class="material-icons">-->
<!--    save-->
<!--    </span>-->
    stop
  </button>
</div>
