<div class="container">
  <div class="container__timer">
    <div class="tick_tack">{{duration | date:'HH:mm:ss'}}</div>
  </div>
  <form [formGroup]="form" >
    <div>
      <small>Task</small>
      <input [formControlName]="'title'" type="text" class="task_name"
             [class.is-invalid]="form.get('title').invalid && form.get('title').touched">
    </div>
    <div>
      <small>Notes (optional)</small>
      <textarea [formControlName]="'comment'"
                [(ngModel)]="comment" class="notes" name="" id="" cols="30" rows="8"></textarea>
    </div>
  </form>
    <button *ngIf="showStartButton()" (click)="onClickStart()">
      start
    </button>
    <button *ngIf="showPauseButton()" (click)="onClickPause()">
      pause
    </button>
    <button *ngIf="showResumeButton()" (click)="onClickResume()">
      resume
    </button>
    <button (click)="onClickStop()">
      stop
    </button>

</div>
