.container {
  font-family: Arial;
  color: #787A80;
  box-sizing: border-box;
  background: #FFFFFF;
  height: 30rem;
  width: 20rem;
  border: 2px solid #787A80;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.container__inner {
  width: 100%;
  color: #787A80;
  border-bottom: 1px solid #B4B7BF;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: large;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  box-sizing: border-box;
  color: #3C3D40;
  border: 2px solid #787A80;
  width: 45%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  background: #FFFFFF;
  font-weight: bold;
  align-items: center;
}

.material-icons {
  padding-left: 5px;
}

button:hover {
  background-color: #787A80;
  cursor: pointer;
  color: #FFFFFF;
}

textarea {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #B4B7BF;
  outline: none;
  border-radius: 5px;
  margin: 0 0 20px 0;
  color: #3C3D40;
}

input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #B4B7BF;
  border-radius: 3px;
  height: 20px;
  font-family: Arial;
  color: #3C3D40;
  outline: none;
  font-size: large;
  margin-bottom: 10px;
}

small {
  font-family: Arial;
  color: #B4B7BF;
}

.is-invalid {
  border: 1px solid red;
}

.container__timer {
  color: #3C3D40;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size:larger;
  background: #FFFFFF;
  text-transform: uppercase;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid #B4B7BF;
  margin-bottom: 20px;
}
