<div class="container">
  <form class="form" [formGroup]="form">
    <div class="container__inner span">
      <span>{{title}}</span>
    </div>
    <div class="container__inner">
      <small class="small">Task</small>
      <input [formControlName]="'name'" type="text" class="task_name"
             [class.is-invalid]="ifControlInvalid('name')">
    </div>
    <div class="container__inner">
      <small class="small">Notes</small>
      <textarea [formControlName]="'note'" class="notes" name="" id="" cols="30" rows="5"
                placeholder="Notes (optional)"></textarea>
    </div>
    <div class="container__inner">
      <small class="small">Date</small>
      <input [formControlName]="'date'" type="date"
             [class.is-invalid]="ifControlInvalid('date')">
    </div>
    <div class="container__time">
      <div class="from_to">
        <small class="small">Start</small>
        <input [formControlName]="'start'" type="time"
               [class.is-invalid]="ifControlInvalid('start')  || ifFormInvalid()">
      </div>
      <div class="from_to">
        <small class="small">Stop</small>
        <input [formControlName]="'stop'" type="time"
               [class.is-invalid]="ifControlInvalid('stop') || ifFormInvalid()">
      </div>
    </div>
    <div class="container__button">
      <button (click)="onCancel()">
        Cancel
        <span class="material-icons">
        cancel
      </span>
      </button>
      <button (click)="onSave()">Save
        <span class="material-icons">
        save_alt
      </span>
      </button>
    </div>
  </form>
  <div class="message" >
    <div class="message_text" *ngIf="ifControlInvalid('name') && hasError('name', 'required')">task name is required</div>
    <div class="message_text" *ngIf="ifControlInvalid('start') && hasError('start', 'required')">start field is required</div>
    <div class="message_text" *ngIf="ifControlInvalid('start') && hasError('start', 'startError')">start cannot be latter then {{getPauseForStartError()}}</div>
    <div class="message_text" *ngIf="ifControlInvalid('stop') && hasError('stop', 'required')">stop field is required</div>
    <div class="message_text" *ngIf="ifControlInvalid('stop') && hasError('stop', 'stopError')">stop cannot be earlier then {{getPauseForStopError()}}</div>
    <div class="message_text" *ngIf="ifControlInvalid('date') && hasError('date', 'dateValidator')">date field is required and cannot be bigger then today</div>
    <div class="message_text" *ngIf="ifFormInvalid()">start cannot be latter then stop</div>
  </div>
</div>


