.container {
  font-family: Arial;
  color: #3C3D40;
  box-sizing: border-box;
  background: #FFFFFF;
  height: 35rem;
  border: 2px solid #787A80;
  border-radius: 10px;
  align-items: center;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.form {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  box-sizing: border-box;
  color: #3C3D40;
  border: 2px solid #787A80;
  width: 45%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-flex;
  justify-content: center;
  background: #FFFFFF;
  font-weight: bold;
}

.material-icons {
  padding-left: 5px;
}

button:hover {
  background-color: #787A80;
  cursor: pointer;
  color: #FFFFFF;
}

input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #B4B7BF;
  border-radius: 3px;
  height: 20px;
  font-family: Arial;
  color: #3C3D40;
  outline: none;
  font-size: large;
  margin-bottom: 10px;
}

.small {
  color: #B4B7BF;
  font-weight: bold;
}

textarea {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #B4B7BF;
  outline: none;
  border-radius: 5px;
  color: #3C3D40;
}

.container__inner {
  width: 100%;
}

.container__button {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

span {
  font-weight: bold;
  font-size: large;
}

.span {
  color: #787A80;
  border-bottom: 1px solid #B4B7BF;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.container__time {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.from_to {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.is-invalid {
  border: 1px solid #F28482;
}

.message {
  color: #F28482;
  width: 100%;
  font-weight: bold;
  font-size: small;
  margin-top: 20px;
}

.message_text {
  width: 250px;
}
