<div class="container">
  <div class="container__inner span">
    <span>Log Time</span>
  </div>
  <div class="container__inner">
    <small>Task</small>
    <input type="text" class="task_name">
  </div>

  <div class="container__inner">
    <small>Notes</small>
    <textarea class="notes" name="" id="" cols="30" rows="5" placeholder="Notes (optional)"></textarea>
  </div>

  <div class="container__inner">
    <small>Date</small>
    <input type="date">
  </div>

  <div class="container__time">
    <div class="from_to">
      <small>From</small>
      <input type="time">
    </div>
    <div class="from_to">
      <small>To</small>
      <input type="time">
    </div>
  </div>

  <div class="container__inner">
    <small>Duration</small>
    <div class="duration"></div>
  </div>

  <div class="container__button">
    <button>Cancel</button>
    <button>Save</button>
  </div>
</div>


