.container {
  font-family: Arial;
  color: #3C3D40;
  box-sizing: border-box;
  background: #EEF3FE;
  height: 30rem;
  width: 20rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

button {
  box-sizing: border-box;
  color: #FFF;
  width: 40%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  background: #D8DCE6;
}

button:hover {
  background-color: #B4B7BF;
  cursor: pointer;
  color: #3C3D40;
}

input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #B4B7BF;
  border-radius: 3px;
  height: 20px;
  font-family: Arial;
  color: #3C3D40;
  outline: none;
  font-size: large;
}

small {
  color: #B4B7BF;
  font-weight: bold;
}

textarea {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #B4B7BF;
  outline: none;
  border-radius: 5px;
  color: #3C3D40;
}

.container__inner {
  width: 100%;

}
.duration {
  background: #FFFFFF;
  border: 1px solid #B4B7BF;
  height: 20px;
  width: 100%;
  border-radius: 5px;
}

.container__button {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

span {
  font-weight: bold;
  font-size: large;
  padding-bottom: 10px;
}

.span {
  border-bottom: 1px solid #B4B7BF;
}

.container__time {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.from_to {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.is-invalid {
  border: 1px solid red;
}
