<div class="container">
  <div class="calendar">
    <div class="calendar_nav">
      <span class="material-icons arrow" (click)="onLeftArrow()">
      keyboard_arrow_left
      </span>
      <form [formGroup]="form">
        <input [formControlName]="'date1'" class="date" type="date" (change)="onChange()">
      </form>
      <span class="material-icons arrow" (click)="onRightArrow()">
      keyboard_arrow_right
      </span>
    </div>
    <ul>
      <li *ngFor="let day of arrDays; index as i" [class.active]="i === date.getDay()">
        <span>{{day}}</span>
      </li>
    </ul>
  </div>
  <div *ngIf="!loading; else loader">
    <div class="total">Daily total: {{totalHours | date:'HH:mm'}}</div>
    <div class="container_task task" *ngFor="let task of tasks; index as j">
      <div class="content">
        <div class="text" (click)="onClick(j)">
          <div class="task_name">{{task.name}}</div>
          <div class="task_note" [ngClass]="{hidden_task: isVisible(j)}">{{task.comment}}</div>
        </div>
        <div class="task_duration">{{task.duration | date:'HH:mm'}}</div>
        <div class="buttons">
          <div class="button" (click)="onDelete(task.id, j)">
                <span class="material-icons">
                  delete_forever
                </span>
          </div>
          <div *ngIf="task.stop; else timer" class="button" [routerLink]="['/edit/' + task.id]">
                <span class="material-icons">
                  edit
                </span>
          </div>
          <ng-template #timer>
            <div class="button" [routerLink]="['/timer']">
            <span class="material-icons">
              timer
            </span>
            </div>
          </ng-template>

        </div>
      </div>
      <div class="hidden_content">
        <div class="time">
          <div class="task_time">
            <div>{{task.start.toDate() | date:'HH:mm'}}</div>
            <div *ngIf="task.stop">{{task.stop.toDate() | date:'HH:mm'}}</div>
            <div *ngIf="!task.stop">running...</div>
          </div>
          <div class="scale_duration">
            <div class="segment"
                 *ngFor="let segment of widthMap.get(j); index as y"
                 [ngStyle]="getStyle(j, y)"
                 [ngClass]="{segment_odd: y % 2 === 0}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #loader>
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </ng-template>
</div>>
