<div class="container">
  <div class="calendar">
    <div class="calendar_nav">
      <span class="material-icons" (click)="onLeftArrow()">
      keyboard_arrow_left
      </span>
      <span>{{date | date}}</span>
      <span class="material-icons" (click)="onRightArrow()">
      keyboard_arrow_right
      </span>
    </div>
    <ul >
      <li *ngFor="let day of arrDays; index as i" [class.active]="i === date.getDay()">
        <span>{{day}}</span>
      </li>
    </ul>
  </div>

  <h2 *ngIf="tasks.length === 0">There are no logged tasks</h2>
  <div class="container_task" *ngFor="let task of tasks">
    <div class="task_inner">
      <span class="task_name">{{task.name}}</span>
      <div class="duration">
        <span>Duration: {{task.duration | date:'HH:mm:ss'}}</span>
        <div class="edit_button">
          <span class="material-icons">
            edit
          </span>
        </div>
      </div>
    </div>
    <div class="add_info">
      <div class="info">
        <span>Started</span>
        <span>{{task.start.toDate() | date:'HH:mm:ss'}}</span>
      </div>
      <div class="info">
        <span>Ended</span>
        <span>{{task.stop.toDate() | date:'HH:mm:ss'}}</span>
      </div>
    </div>
  </div>

  </div>



