.container {
  margin-left: 200px;
  margin-top: 50px;
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3C3D40;
  font-family: Arial;
}

.calendar {
  margin-bottom: 50px;
}

.date {
  font-size: xx-large;
  font-weight: bold;
  color: #3C3D40;
  width: 100%;
  border: none;
  height: 100%;
}

.arrow {
  font-size: xxx-large;
}

.date:focus {
  outline:0px !important;
  -webkit-appearance:none;
  background: none;
}

.date::-webkit-datetime-edit-day-field:focus, .date::-webkit-datetime-edit-month-field:focus, .date::-webkit-datetime-edit-year-field:focus{
  background: none;
  color: #3C3D40;
}

.date::-webkit-search-cancel-button, .date::-webkit-inner-spin-button, .date::-webkit-clear-button{
  -webkit-appearance: none;
}

.date::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  background-image: url('today-black-36dp.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 14px;
  height: 18px;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
}
.active {
  background: #B4B7BF;
  color: #FFFFFF;
}

li {
  box-sizing: border-box;
  width: 80px;
  padding: 10px;
  border: 1px solid #787A80;
  border-right: none;
  background: #FFFFFF;
  text-transform: uppercase;
  font-size: larger;
  font-weight: bolder;
  color: #3C3D40;
  display: flex;
  align-items: center;
  justify-content: center;
}

li:first-child {
  border-radius: 10px 0 0 10px;
}

li:last-child {
  border-radius: 0 10px 10px 0;
  border-right: 1px solid #787A80;;
}

.calendar_nav {
  height: 80px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.material-icons {
  cursor: pointer;
  height: auto;
}
/*new task div*/
.total {
  width: 500px;
  height: 30px;
  padding: 20px;
  border-top: 1px solid #B4B7BF;
  border-bottom: 1px solid #B4B7BF;
  margin-bottom: 20px;
  text-align: center;
  font-size: x-large;
}

.task {
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #787A80;
  margin-bottom: 10px;
  color: #444444;
  font-family: Arial;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.task_name {
  font-size: large;
  padding: 4px;
  width: 400px;
  height: 20px;
  text-align: left;
  align-items: flex-start;
  margin-bottom: 10px;
}

.task_note {
  width: 400px;
  text-align: justify;
  padding: 4px;
}

.hidden_task {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task_duration {
  padding-top: 5px;
  font-weight: bold;
}

.buttons {
  padding: 5px;
  height: 60px;
  align-content: space-between;
}

.button {
  border: 1px solid #3C3D40;
  border-radius: 3px;
  margin-bottom: 5px;
}

.button:hover {
  color: #FFFFFF;
  background: #3C3D40;
}

.time {
  width: 100%;
}

.task_time {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #B4B7BF;
  width: 100%;
  height: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.scale_duration {
  display: flex;
  margin-top: 5px;
  width: 100%;
  height: 8px;
  background: #d0e1e8;
}

.segment_odd {
  background: #75B9BE;
}

/*loader*/
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #787A80;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}


