<div class="container">
  <div class="container__inner">
    <div class="calendar_nav">
      <span class="material-icons">
      keyboard_arrow_left
      </span>
      <span>April, 17th</span>
      <span class="material-icons">
      keyboard_arrow_right
      </span>
    </div>
    <ul>
      <li>
        <span>Mon</span>
      </li>
      <li>
        <span>Tue</span>
      </li>
      <li>
        <span>Wen</span>
      </li>
      <li>
        <span>Thu</span>
      </li>
      <li>
        <span>Fri</span>
      </li>
      <li>
        <span>Sat</span>
      </li>
      <li>
        <span>Sun</span>
      </li>
    </ul>
  </div>
  <div class="container_task">

      <span class="task_name">Task name</span>
      <div class="task_inner">
        <span>Time: 00:10</span>
        <div class="edit_button">
          <span class="material-icons">
            edit
          </span>
        </div>
      </div>



  </div>
  <div class="add_info">
    <div class="info">
      <span>Started</span>
      <span>20.07.2020 17:00</span>
    </div>
    <div class="info">
      <span>Ended</span>
      <span>20.07.2020 17:10</span>
    </div>
  </div>

  <div class="container_task">

    <span class="task_name">Task name2</span>
    <div class="task_inner">
      <span>Time: 00:15</span>
      <div class="edit_button">
          <span class="material-icons">
            edit
          </span>
      </div>
    </div>



  </div>


</div>

